TZ=Asia/Shanghai
NAPCAT_UID=1000
NAPCAT_GID=1000
NAPCAT_WEBUI_PORT=6099
ASTRBOT_WEBUI_PORT=6185
ASTRBOT_ONEBOT_PORT=6199
ASTRBOT_IMAGE=m.daocloud.io/docker.io/soulter/astrbot:latest
NAPCAT_IMAGE=mlikiowa/napcat-docker:latest
WATCHTOWER_IMAGE=containrrr/watchtower:latest
WATCHTOWER_SCHEDULE=0 0 5 * * *
